<div class="form-container">
    <h3>Добавить администратора</h3>
    <form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="admin.admin_login" name="login" placeholder="Логин" required>
    <input [(ngModel)]="admin.admin_password" name="password" placeholder="Пароль" type="password" required>
    <label>
        <input type="checkbox" [(ngModel)]="admin.is_active_admin" name="isActive"> Активен
    </label>
    <input [(ngModel)]="admin.admin_birth_date" name="birthDate" placeholder="Дата рождения (ГГГГ-ММ-ДД)">
    <button type="submit">Сохранить</button>
    <button type="button" (click)="onClose()">Отмена</button>
    </form>
</div>